@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sue Ellen Francisco', cursive;
}


/* COlors  */

$blue : #003049;
$red: #D62828;
$orange:#F77F00;
$yellowish:#FCBF49;
$whiteish:#EAE2B7;